<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Squash-It : Bug Tracker</title>
  <meta charset="utf-8">
<!-- CSS only -->

<script src="https://kit.fontawesome.com/b9e60ce0e8.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
<link rel="stylesheet" href="/css/styles.css">

</head>

  <nav class="navbar navbar-dark navbar-expand-lg ">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand my-auto nav-text">SQUASH-IT</p>
      </div>
        <div class="nav navbar-nav navbar-right">
          <a class="nav-link nav-text" href="/buglist">BUG LIST</a>
          <a class="nav-link nav-text" href="/about">ABOUT</a>
          <a class="nav-link nav-text" href="/submit">SUBMIT A BUG</a>
          <li class="nav-item dropdown">
            <a
            class="nav-link"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href=""
            ><i class="fa-solid fa-user"></i>
            </a>
            <ul
								class="dropdown-menu dropdown-menu-sm-end"
								aria-labelledby="navbarScrollingDropDown"
							>
              <li><a class="dropdown-item" href="#">Account Info</a></li>
              <li><a class="dropdown-item" href="/user-tasks">My tasks</a></li>
              <li><a class="dropdown-item" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
  </nav>

  <body>
    <div class="container">
